.About{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .About{
        /* border: 1px solid black; */
        max-width: 82% !important;
        justify-content: center;
    }
}

.About__header{
    text-align: center;
}
.About__content{
    text-align: center;
}

.About__content p{
    word-spacing: 15px;
    font-size: 20px;
    max-width: 70%;
    margin: auto;
}
#butt{
    border: 1px solid teal;
    border-radius: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    /* word-spacing: 15px; */
    font-size: 22px;
    margin: auto;
    margin-top: 10px;
    background-color: teal;
   
}
#a{
    color: whitesmoke;
}